body {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #086972;
  font-size: 4rem;
  color: #a7ff83;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.clock {
  justify-content: space-around;
  text-align: center;
  margin-top: 50px;
}

.clock span:hover {
  color: #0adef1;
}
